

<!--Marquee Text-->
<div class="topbar-slider clearfix">
    <div class="container-fluid">
        <div class="marquee-text">
            <div class="top-info-bar d-flex">
                <div class="flex-item center">
                    <a href="#">
                        <span> <i class="anm anm-worldwide"></i> BUY ONLINE PICK UP IN STORE</span>
                        <span> <i class="anm anm-truck-l"></i> FREE WORLDWIDE SHIPPING ON ALL ORDERS ABOVE $100</span>
                        <span> <i class="anm anm-redo-ar"></i> EXTENDED RETURN UNTIL 30 DAYS</span>
                    </a>
                </div>
                <div class="flex-item center">
                    <a href="#">
                        <span> <i class="anm anm-worldwide"></i> BUY ONLINE PICK UP IN STORE</span>
                        <span> <i class="anm anm-truck-l"></i> FREE WORLDWIDE SHIPPING ON ALL ORDERS ABOVE $100</span>
                        <span> <i class="anm anm-redo-ar"></i> EXTENDED RETURN UNTIL 30 DAYS</span>
                    </a>
                </div>
                <div class="flex-item center">
                    <a href="#">
                        <span> <i class="anm anm-worldwide"></i> BUY ONLINE PICK UP IN STORE</span>
                        <span> <i class="anm anm-truck-l"></i> FREE WORLDWIDE SHIPPING ON ALL ORDERS ABOVE $100</span>
                        <span> <i class="anm anm-redo-ar"></i> EXTENDED RETURN UNTIL 30 DAYS</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Marquee Text-->