{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="description">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Title Of Site -->
        <title>Ecommerce</title>
        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'web/assets/images/favicon.png' %}" />
        <!-- Plugins CSS -->
        <link rel="stylesheet" href="{% static 'web/assets/css/plugins.css' %}">
        <!-- Main Style CSS -->
        <link rel="stylesheet" href="{% static 'web/assets/css/style-min.css' %}">
        <link rel="stylesheet" href="{% static 'web/assets/css/responsive.css' %}">
    </head>

    <body class="template-index index-demo1">
        <!--Page Wrapper-->
        <div class="page-wrapper">
            
            {% include 'web/partials/top-bar-slider.html' %}


           {% include 'web/partials/header.html' %}

            {% include 'web/partials/mobile-menu.html' %}

            <!-- Body Container -->
            <div id="page-content" class="mb-0">
                
                {% block content %} {% endblock content %}
               

              
            </div>
            <!-- End Body Container -->

            {% include 'web/partials/mini-cart.html' %}
           {% include 'web/partials/footer.html' %}

            
          

            <!--Scoll Top-->
            <div id="site-scroll"><i class="icon anm anm-arw-up"></i></div>
            <!--End Scoll Top-->


            

            


          

        </div>
        <!--End Page Wrapper-->

          <!-- Including Jquery/Javascript -->
            <!-- Plugins JS -->
            <script src="{% static 'web/assets/js/plugins.js' %}"></script>
            <!-- Main JS -->
            <script src="{% static 'web/assets/js/main.js' %}"></script>
    </body>
</html>